$blue: #036;
$green: #699;
$pink: pink;
$orange: orange;
$red: red;

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links {
  > a {
  color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.m-b-md {
  margin-bottom: 30px;
}

// MARGIN
.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-top-3 {
  margin-top: 3em;
}

.margin-top-6 {
  margin-top: 6em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-bottom-2 {
  margin-bottom: 2em;
}

.margin-bottom-3 {
  margin-bottom: 3em;
}

// PADDING

.padding-top-1 {
  padding-top: 1em;
}

.padding-bottom-1 {
  padding-bottom: 1em;
}


.full-display {
  height: 100%;
  width: 100%;
  display: block;
  margin-top: 3em;
}

.blue {
  background: $blue !important;
  color: white;
}

.green {
  background: $green !important;
  color: white;
}

.pink {
  background: $pink !important;
  color: black;
  font-weight: 800;
}

.orange {
  background: $orange !important;
  color: black;
  font-weight: 800;
}

.color-white {
  color: #ffffff !important;
}

.color-black {
  color: black;
  font-weight: 500;
}

.color-red {
  color: $red;
  font-weight: 800;
}

.hover:hover {
  color: #FF8300 !important;
}

.navbar-nav {
  float:none !important;
  margin:0 auto;
  display: block;
  text-align: center;
  > li {
    display: inline-block !important;;
    float:none !important;
  }
}

.odd {
  background: $blue;
}

.even {
  background: $green;
}

.block {
  display: block;
  width:100%;
  height:100%;
  margin-bottom:1em;
}

.height-30  {
  h5, p {
    margin-top:1em;
    margin-bottom:1em;
  }
  p {
    height: 4em;
  }
}

.a {
  h5 {
    font-weight: 800;
  }
  p {
    font-weight: 400;
  }
}

.changer {
  color: $pink !important;
  font-size: 9em;
}